@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyMusicApp</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to MyMusicApp</h2>
        <p>
            MyMusicApp is a simple web application designed with the aim of learning the basics of C#, ASP.NET and EntityFramework.
        </p>
    </div>

    <div class="col-md-4">
        <h2>What does it do?</h2>
        <p>
            Some of my favorite musical artists and their albums will be stored with 
            searching, sorting and CRUD (Create, Read, Update, Delete) functionality on each entry.
    </div>
</div>